---
layout: base
title: Main Page
topic: main
---

{% include header.html %}
<section class="padding-bottom-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TEMP - 404 test</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>
<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for section in site.data.main-sections %}
                <div class="col-lg-4 col-sm-6">
                    <span class="portfolio-box">
                        <img src="{{section.image}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ section.title }}
                                </div>
                                <div class="project-name">
                                    {{ section.description }}
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
