---
layout: base
title: Main Page
topic: main
---

{% include header.html %}
{% include call-to-action.html %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A balance between beauty and elegance</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
        {% for item in site.data.main-benefits %}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x {{ item.icon-class }} wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>{{ item.title }}</h3>
                    <p class="text-muted">{{ item.description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<section class="padding-bottom-15 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Emilia? Just take a look! </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>
<section class="bg-dark">
    <div class="container">
        <div id="carouselMainPage" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% assign ind = -1 %}
                {% for section in site.data.main-screenshots %}
                    <li data-target="#carouselMainPage" data-slide-to="{% increment ind %}" {% if ind == 0 %} class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for section in site.data.main-screenshots %}
                    <div class="carousel-item{% if section.description == site.data.main-screenshots[0].description %} active{% endif %}">
                        <img src="{{section.image}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ section.title }}</h5>
                            <p>{{ section.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselMainPage" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselMainPage" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">And new features will come!</h2>
                <hr class="secondary">
            </div>
        </div>
        <div class="row">
        {% for item in site.data.main-comming %}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="anounce-box">
                    <i class="fas fa-4x {{ item.icon-class }} wow bounceIn text-secondary" data-wow-delay=".1s"></i>
                    <h3>{{ item.title }}</h3>
                    <p class="text-muted">{{ item.description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% include contact.html %}
