  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Learn more about our projects!</h2>
              <a href="/projects.html" class="btn btn-default btn-xl wow tada">See now!</a>
          </div>
      </div>
  </aside>
