<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h2 class="section-heading">Get started!</h2>
                <hr class="light">
                <p class="text-faded">Emilia has many flavors, and the features are promissed for all of them! So let's start by select the most ideal Desktop for you. Shall we begin?</p>
                <a href="/flavors.html" class="btn btn-secondary btn-xl">Let's begin!</a>
            </div>
        </div>
    </div>
</section>
