<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Want to tell us something? That's great! Make an issue in gitlab and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4 text-center">
                <a href="https://gitlab.com/{{ site.gitlab_repo }}">
                    <i class="fab fa-gitlab fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Emilia Development repository</p>
                </a>
            </div>
            <div class="col-xl-4 col-md-4 text-center">
                <a href="https://github.com/{{ site.github_repo }}">
                <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Emilia Provisory Repository</p>
                </a>
            </div>
        </div>
    </div>
</section>
