<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><span class="emilia-brand" style="font-size:100px;">Emilia</span></br>System</h1>
            <hr>
            <p>Emilia system is a simple and elegant OS for everyone.</p>
            <a href="/about.html" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
