<nav id="mainNav" class="navbar bg-light fixed-top navbar-expand-md">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
    data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>&#x2630;
    </button> 
    <a class="navbar-brand page-scroll" href="/">
        <span class="svg-icon svg-menu"> {% include logo.svg %} </span>
        <span class="emilia-brand" style="font-size:23px;">Emilia</span>
    </a>
    <!--
    Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ml-auto">
            {% for item in site.data.nav %}
            <li class="nav-item"> 
                <a class="page-scroll{% if page.topic == item.topic %} nav-text-red{% endif %} nav-link" href="/html{{ item.link }}"> {{ item.name }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
