/*Emilia Font*/
.emilia-brand{
    font-family: 'Dancing Script', cursive;
    color: $theme-primary;
    font-weight: 700;
    text-transform: none;
}

/*Setup for icon in the nav*/
.svg-icon {
    > svg {
        display: inline-block;
        width: 25px;
        height: 25px;
    }
}
.svg-menu{
    > svg {
        vertical-align: text-bottom;
    }
}
.svg-middle{
    > svg {
        vertical-align: middle;
    }
}
.emilia-icon {
    path {
        fill: $theme-primary;
    }
}


.nav-item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
    /*Makes the nav bar being red when is the same topic*/
    .nav-item > .nav-text-red,
    .nav-item > .nav-text-red:focus {
        color: $theme-secondary !important;
        &:hover {
            color: $theme-primary !important;
        }
    }
