---
layout: base
title: About Emilia
topic: about
---

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h1 class="section-heading">About Emilia System</h1>
                <p>As a team, we try to be as open as possible. See more details about us!</p>
                <hr class="secondary">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h1 class="section-heading">Philosophy</h1>
                <hr class="secondary">
            </div>
        </div>
        <div class="row">
            <h3 class="display-5 padding-bottom-15 col-xl-12"> - Simplicity </h3>

            <p> Like Arch Linux, our team uses the Kis-s principle, and also "the Unix way" of each tool doing one task and doing well.
                We try to achieve performance and elegance by simplicity, making sure that the system always stays easy to understand by developers and users.</p>
        </div>
        <div class="row">
            <h3 class="display-5 padding-bottom-15 col-xl-12"> - Learning </h3>
            <p> Emilia started as a learning project, with the objective of make you learn. Every step to a linux migration can be simplified if you know what you need.</p>
        </div>
    </div>
</section>
