---
layout: base
title: News
topic: news
---

<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h1 class="section-heading">Emilia News!</h1>
                <p>Important news about the development goes here.</p>
                <hr class="primary">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h2 class="col-xl-12 section-heading text-center padding-bottom-15">Latest news from the Team!</h2>
        </div>
        {% for post in site.posts %}
        <div class="row pt-4">
            <h3 class="display-5 padding-bottom-15 col-xl-7">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h3>
            <p class="col-xl-5">{{ post.date }} -- {{ post.categories }} </p>
        </div>
        <div class="row">
            <span class="col-xl-9">{{ post.excerpt }}</span>
        </div>
        <hr class="primary padding-bottom-15">
        {% endfor %}
    </div>
</section>
