<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
    {% include nav.html %}
    <div class="container" style="min-height:60px;"></div> <!--space out for the navbar-->
    {{ content }}
  
    {% include scripts.html %}

</body>

</html>
